//- layout.pug
html
  head
    title #{title} - Bet.
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block scripts
      script(src='/js/jquery.js')
      link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
      link(rel='stylesheet', type='text/css', href='/css/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Work+Sans:400,700')
    
  body
    include _header.pug
    block content
    block foot
      #footer
        p Bet. 2018 ©
