extends layout.pug
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Login

        // ERRORS
        if error
          p #{ error }

        // login form
        form(method='POST' action='/auth/login')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com', name='email')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          button.btn.btn-primary(type='submit') Login