extends layout.pug
block content
    // register form
    // ERRORS
    if error
      p #{ error }

    div.container.sticky(style="margin-top: 10px; width: 50%")
      form(method='POST' action='/auth/login')
        div.form-group  
          label.label(for='email') Email:
          div.control
            input.input#email.form-control(type='email', placeholder='name@email.com', name='email')
        div.form-group
          label.label(for='pw') Password:
          div.control
            input.input#pw.form-control(type='password' name='password')
        div.form-group
          div.control(style='margin-top: 10px;')
            button.button.is-primary(type="submit") Login
        
