.test-class {
  font-size: 3em;
}

body
{
    background: #ecf0f1
}

.bets
{
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5
{
    font-family: 'Source Sans Pro', sans-serif;
}

p
{
    font-family: 'Work Sans', sans-serif;
}
