.test-class {
  font-size: 3em;
}

body
{
    background: #ecf0f1;
}

.bets
{
    margin-bottom: 10px;
}

.description
{
    color: #4a4a4a;
}

h1, h2, h3, h4, h5
{
    font-family: 'Source Sans Pro', sans-serif;
}

p
{
    font-family: 'Work Sans', sans-serif;
}

.wrapper
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sticky {
  flex: 1;
}

.footer {
    background-color: #4ECDB3;
    padding: 1.25rem 1.5rem 1.25rem;
}

.footer p
{
    color: #F5F5F5;
}
